<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hr">
	
	<!-- 전체 직원 목록 조회 -->
	<select id="list" resultType="com.mystudy.model.vo.EmployeeVO">
		SELECT * FROM EMPLOYEES ORDER BY EMPLOYEE_ID
	</select>
	
	<!-- 부서 직원 목록 검색 -->
	<select id="deptList" parameterType="string" resultType="employeeVO">
		SELECT * FROM EMPLOYEES 
		 WHERE DEPARTMENT_ID = #{deptno}
		 ORDER BY EMPLOYEE_ID
	</select>
	
	<!-- 성명으로 검색(조회) -->
	<select id="fullnameList" parameterType="string" resultType="employeeVO">
		SELECT *
		FROM EMPLOYEES
		WHERE FIRST_NAME = INITCAP(#{name})
		   OR LAST_NAME = INITCAP(#{name})
		ORDER BY EMPLOYEE_ID	
	</select>
	
	<!-- 동적검색 -->
	<select id="search" parameterType="map" resultType="employeeVO">
		SELECT *
		FROM EMPLOYEES
		<!-- WHERE 1=1 -->
		<where>
		<!-- 사번으로 검색 -->
			<if test="idx == 0"> 
				EMPLOYEE_ID = #{keyword}
			</if>
		<!-- 이름으로 검색 -->
			<if test="idx == 1"> 
				FIRST_NAME = INITCAP(#{keyword})
		   		OR LAST_NAME = INITCAP(#{keyword})
			</if>
		<!-- 직종으로 검색 -->
			<if test="idx == 2"> 
				JOB_ID = UPPER(#{keyword})
			</if>
		<!-- 부서코드 검색 -->
			<if test="idx == 3"> 
				DEPARTMENT_ID = #{keyword}
			</if>		
		</where>
		ORDER BY EMPLOYEE_ID	
	</select>
	
</mapper>